#container {
    text-align: center;
    margin-bottom: 100px;
}

h1{
    color: darkblue;
}

#code-box {
    font-size: 80px!important;
    color: grey;
    padding: 8px 38px 8px 38px;
}

#instruction {
    position: absolute;
    top: 121px;
    font-size: 12px;
}

#main-box {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

#back-to-project {
    background-color: #14d17f!important;
    color: white!important;
    border-radius: 1.5em!important;
    padding: 6px 40px!important;
}
